<ng-content select="h1"></ng-content>
<form [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Customer" formControlName="customer" />
    <mat-error *ngIf="required">Customer's name is required.</mat-error>
  </mat-form-field>
  <datetime-selector formControlName="dateTime"></datetime-selector>
  <mat-error *ngIf="notBeforeNow">Appointment cannot be before now.</mat-error>
  <div class="actions">
    <button
      mat-raised-button
      (click)="onCreate()"
      *ngIf="!exists"
      color="primary"
    >
      Create
    </button>
    <button mat-button (click)="onRemove()" *ngIf="exists" color="warn">
      Remove
    </button>
    <button
      mat-raised-button
      (click)="onUpdate()"
      *ngIf="exists"
      color="primary"
    >
      Update
    </button>
  </div>
</form>
