<section class="hero">
  <h1 class="mat-display-3">Turnos</h1>
  <h2 class="mat-display-1">Simple appointment app</h2>
</section>
<img src="assets/home/appointmenthome.svg" alt="Appointment App" />
<section class="penAndPaper">
  <span class="mat-headline">
    Stop it with pen and papel!!!
  </span>
  <p class="mat-subheading-2">
    Let's leave behind the time when you managed your business with pen and
    paper. We are everywhere, on your phone, on your computer.
  </p>
</section>
<section class="cloudBenefit">
  <span class="mat-headline">
    "Save as"? No more!
  </span>
  <p class="mat-subheading-2">
    This app lives on the cloud, that means you don't have to worry about saving
    your changes. It live-saves all changes you make, everywhere you are.
  </p>
</section>
